{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academic Notes</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>

<body>
    <div class="navbar">

        <h1>Academic Notes</h1>
        <button>Home</button>
        <button>Courses</button>
        <button>Professors</button>
        <button>Login</button>
    </div>

    <div class="container">

        <div class="sidebar">
            <h3>Courses</h3>
            <p>Math</p>
            <p>Physics</p>
            <p>Chemistry</p>
            <p>Biology</p>
        </div>

        <div class="content">
            <h2>WELCOME</h2>
            <p>Welcome to Academic Notec website.</p>
        </div>

    </div>
    
</body>

</html>

