{% extends "base.html" %}
{% block content %}

<h2>Course Notes</h2>

<form class="search-form" method="GET">
    <input 
        type="text"
        name="q"
        value="{{ query }}"
        >

    <button type="submit" class="action-btn">
        Search
    </button>
</form>

<div class="note-list">
    {% for note in notes %}

    <div class="note-card">
        <a href="{% url "note_detail" note.id %}">
            <h3>{{ note.title }}</h3>
        </a>
    </div>
    {% empty %} 
    <p>Not exist.</p>
    {% endfor %}
</div>

{% endblock %}