{% extends "base.html" %}
{% block content %}

<div class="course-content">
    <h2>{{ note.title }}</h2>
    <p>{{ note.content }}</p>

    {% if note.file %}
    <h3>Attached file</h3>
    <a href="{{ note.file.url }}" target="_blank">
        <button class="action-btn">
            Open File
        </button>
    </a>
    {% endif %}
</div>

<div class="note-buttons">
    <a href="{% url "note_update" note.id %}">
        <button class="action-btn">
            Edit Note
        </button>
    </a>
    <a href="{% url "note_delete" note.id %}">
        <button class="action-btn">
            Delete Note
        </button>
    </a>
    <a href="{% url "course_detail" note.course.id %}">
        <button class="action-btn">
            Back to Notes
        </button>
    </a>

</div>

{% endblock %} 