{% extends 'base.html' %}
{% block content %}

<h2>Register</h2>

<form method="POST" class="register-form">
    {% csrf_token %}

    <p>Username</p>
    <input type="text" name="username">

    <p>Email</p>
    <input type="email" name="email">

    <p>Password</p>
    <input type="password" name="password1">

    <p>Confirm Password</p>
    <input type="password" name="password2">

    <button type="submit">Register</button>
</form>

<p class="login_text">
    Already have an account?
    <a href="{% url "login" %}">Login</a>
</p>

{% endblock %}
