{% extends "base.html" %}
{% block content %}

<h2>Register</h2>

<form method="POST" class="register-form">
    {% csrf_token %}

    <p>Username</p>
    {{ form.username }}

    <p>Password</p>
    {{ form.password1 }}

    <p>Confirm Password</p>
    {{ form.password2 }}

    {% if form.errors %}
        <div class="form-errors">
            {{ form.errors }}
        </div>
    {% endif %}
    <button type="submit" class="action-btn">
        Register
    </button>

</form>
<p class="login-text">
    Already have an account?
    <a href="{% url 'login' %}">Login</a>
</p>
{% endblock %}